{{!--
  Renders the HTML head content
--}}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{info.title}} | API Reference</title>
<link rel="stylesheet" href="stylesheets/foundation.min.css" />
<link rel="stylesheet" href="stylesheets/spectacle.min.css" />
<script src="https://cdn.cloudmersive.com/js/jquery-2.1.4.min.js"></script>
<!-- <script src="javascripts/foundation.js"></script> -->
<script src="javascripts/spectacle.min.js"></script>
{{!-- <link rel="stylesheet" href="https://cdn.cloudmersive.com/css/docs/bootstrap.min.css">
<script src="https://cdn.cloudmersive.com/js/docs/bootstrap.min.js"></script> --}}
<link rel="stylesheet" href="https://cdn.cloudmersive.com/css/cmstyle.css" />
<script type="application/javascript">

/*function resizeIFrameToFitContent( iFrame ) {

    //iFrame.width  = iFrame.contentWindow.document.body.scrollWidth;
    iFrame.height = iFrame.contentWindow.document.body.scrollHeight;
}*/

/*window.addEventListener('DOMContentLoaded', function(e) {

    
    // or, to resize all iframes:
    var iframes = document.querySelectorAll("iframe");
    for( var i = 0; i < iframes.length; i++) {
        resizeIFrameToFitContent( iframes[i] );
        
    }
} );*/

/*var iframes = document.querySelectorAll("iframe");

for( var i = 0; i < iframes.length; i++) {
    var curFrame = iframes[i];

        curFrame.addEventListener('DOMContentLoaded', function(e){
            resizeIFrameToFitContent(curFrame);
        });
        
    }*/

</script>